{% extends "base.html" %}
{% load static %}

{% block headone %}
<title>Donasi Sosial</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/formulir_donasi_sosial.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid">
    
    <div class="row content">
        <h4 class="judulProgramFormulir">{{ nama_program }}</h4>
        <!-- FORMULIR DONASI -->
        <div class="col-md-6 order-2 order-md-1">
            <form method="POST" class="" style="">
                {% csrf_token %}
                {{ form }}
                <div>
                    <input class=" btn-donasi rounded-pill" type="submit" value="DONASI">
                </div>
            </form>
            <a href="/donasi-sosial/#program-donasi" class="btn rounded-pill btn-donasi center" style="height: 30px;">Kembali</a>
        </div>
        
        <!-- FOTO DONASI -->
        <div class="col-md-6 center order-1 order-md-2">
            <img class="fotoDetailDonasi" src='/{{ foto }}'>
        </div>

    </div>
    <div class="container-fluid deskripsidonasi" >
        <p style=" font-family: Josefin Sans; font-weight: bold; font-size: 20px;">Sekilas Info tentang "{{ nama_program }}" </p>
        {{ deskripsi }}
    </div>
</div>


{% endblock %}