{% extends 'base.html' %}
{% load static %}
{% block title %}

{% endblock %}

{% block headone %}
<link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block content %}

<div id="bg_hijau">
<div class="container center mt-4 pt-4 mb-4 pb-4">
<h1 style="margin-top: 60px;">you're logged in as <span id="tulisan_line">{{ user }}</span></h1>
</div>


<div class="container center mb-4 pb-4">
        <div id="tulisan_profil ">
                <p><b>Username:</b> &emsp; {{ user }}</p>
                <p><b>First name:</b> &emsp; {{ user.first_name }}</p>
                <p><b>Last name:</b> &emsp; {{ user.last_name }}</p>
                <p><b>Email: </b>&emsp; &emsp; {{ user.email }}</p>
        </div>
</div>
</div>


{% endblock %}
</div>
