{% extends "base.html" %}
{% load static %}

{% block headone %}
<title>Donasi APD</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/formulir_donasi_apd.css' %}">
{% endblock %}

{% block content %}
<!-- FORMULIR DONASI -->
<div class="container-fluid">
    
    <div style="height: 100px;"></div>
        <h1 class="text-center judulDonasiBerhasil ">Donasi Berhasil!</h1>
        <br></br>
        <div class="center">
            <a href="/donasi-apd/#program-donasi" class="btn rounded-pill btn-kembali center" style="">Kembali ke halaman donasi</a>
        </div>
        <br></br>
    
</div>
{% endblock %}