{% extends "base.html" %}
{% load static %}

{% block headone %}
<title>Donasi Sosial</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/donasi_sosial.css' %}">
{% endblock %}


{% block content %}

<!-- HEADER -->
<div id="gambar-atas">
    <p class="judul">Donasi Sosial</p>
    <p class="deskripsiJudul">Make a better life by helping each other</p>
    <a href="/donasi-sosial/#program-donasi" style="padding-bottom: 50px; " class="center">
        <button type="submit" class="btn rounded-pill" style="background-color: #772E25; color: #ffffff;">Mulai
            Berdonasi!</button>
    </a>
</div>

<!-- PROGRAM DONASI -->
<div class="container-fluid" id="program_donasi">

    <div id="program-donasi">
        <p class="judulProgramDonasi">Program Donasi</p>

        <div class="row ">
            {% if programs %}
            {% for program in programs %}

            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src='/{{ program.photo }}'>
                    <div class="card-body">
                        <h5 class="card-title">{{ program.name }}</h5>

                        <p class="card-text">Sisa hari: {{ program.remDay }} hari lagi <br> Target   : Rp.{{ program.target }}</p>

                        <div class="center">
                            <a href="{% url 'formulir_donasi' program=program.pk %}" class="btn rounded-pill btn-donasi"
                                style="">Donasi</a>
                            <a href="{% url 'programs:list_donatur' program=program.pk%}"
                                class="btn rounded-pill btn-donasi" style="">Lihat Donatur</a>
                        </div>

                    </div>
                </div>
            </div>

            {% endfor %}

            {% else %}
            <div class="col-sm-12">
                <div class="roundedrec">
                    <div class="insiderec">
                        <h4 class="w3-left-align" style="color: #772E25"><strong>Tidak ada program</strong></h4>
                    </div>
                </div>
            </div>
            {% endif %}

        </div>
        <br>
            <p>Coming soon...</p>
    </div>

    <div class="row content">
        <!-- FORMULIR DONASI -->
        <div class="col-md-6 ">
            <p class="teks2"> <span class="sepan">Hai, #OrangOrangBaik!</span>  <br> Terima kasih atas Donasi yang Anda keluarkan! Donasi tersebut sangat berguna bagi pemulihan COVID-19 yang ada di Indonesia. Dengan #Donavid Indonesia pasti bisa lalui Pandemi Ini!</p>
        </div>
        <!-- FOTO DONASI -->
        <div class="col-md-6 center order-1 order-md-2">
            <img class="fotoDetailDonasi" src='../static/img/bottomanimation.png'>
        </div>
    </div>

</div>

{% endblock %}