{% extends "base.html" %}
{% load static %}

{% block headone %}
<title>Donasi Sosial</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/donasi_sosial.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-12">

            <div></div>
            <h1 class="judulListDonatur center"> Donasi Terkumpul</h1>
            <h6 class="center namaProgramListDonatur">{{ nama_program}}</h6>

            
                <div class="container">
                    {% if donasi_terkumpul.donatur.all.count == 0 %}
                    <h3 class="belum-ada center">Belum ada donasi terkumpul</h3>
                    {% else %}
                    <table class="table table-striped table-bordered" style="text-align: center;">
                        <thead>
                            <tr>
                                <th scope="col" >Nama Donatur </th>
                                <th scope="col"class="one" >Email </th>
                                <th scope="col">Donasi Terkumpul</th>
                            </tr>
                        </thead>

                        {% for data in donasi_terkumpul.donatur.all %}
                        {% if data == donasi_terkumpul.donatur.last %}
                        <tr>
                            <td scope="row">{{ data.nama }}</td>
                            <td scope="row" class="one">{{ data.email }}</td>
                            <td scope="row">{{ data.jmldonasi }}</td>
                        </tr>
                        {% else %}
                        <tr>
                            <td scope="row">{{ data.nama }}</td>
                            <td scope="row" class="one">{{ data.email }}</td>
                            <td scope="row">{{ data.jmldonasi }}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                    {% endif %}
                </div>
            <br>

            <div class="center">
                <a href="/donasi-sosial/#program-donasi" class="btn rounded-pill btn-donasi center btn-kembali" style="">Kembali</a>
            </div>

        </div>

    </div>
</div>
<div style="height: 50px;"></div>
{% endblock %}