{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- <link rel="stylesheet" href="{% static  'base.css' %}"> -->
	<!-- Google Font -->
	<link
		href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400&display=swap"
		rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="{% static 'style.css' %}" /> -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    {% block headone %}{% endblock %}
	<!-- <link rel="stylesheet" href="https://m.w3newbie.com/you-tube.css"> -->
</head>
<body>
    
    <!-- NAVBAR -->
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark  " style="background-color: #772E25 !important;">

		<a class="navbar-brand" href="/"><img src="{% static 'img/logo.png' %}" style="width:100px;"></a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav active">

				<li class="nav-item ">
					<a class="nav-link" href="/donasi-apd">Donasi APD</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'programs:list_program' %}">Donasi Sosial</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/testimoni">Testimoni</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/about-us/">About Us</a>
				</li>
				<!-- <li class="nav-item">
					<a class="nav-link" href="">Profil</a>
                </li> -->
                
                {% if user.is_authenticated %}

                    <li class="nav-item mr-4">
                        <a class="nav-link" href="{% url 'user:view_profile' %}">My Profile</a>
                    </li>

                    <li class="nav-item mr-4">
                        <a class="nav-link btn btn-outline-dark" href="{% url 'user:logout' %}">Logout</a>
                    </li>

                    {% else %}

                    <li class="nav-item mr-4">
                        <a class="nav-link btn btn-outline-dark" href="{% url 'Login:login' %}">Login</a>
                    </li>

                    <li class="nav-item mr-4">
                        <a class="nav-link btn btn-outline-dark" href="{% url 'user:register' %}">Register</a>
                    </li>

                    {% endif %}

			</ul>

		</div>

	</nav>


	{% block content %}

	{% endblock %}

	<!-- FOOTER -->
	<footer class="page-footer font-small unique-color-dark" style="background-color: #197278;">
		<div style="background-color: #772E25 !important;">
			<div class="container">
				<!-- Grid row-->
				<div class="row py-4 d-flex align-items-center"></div>
				<!-- Grid row-->
			</div>
		</div>

		<!-- Footer Links -->
		<div class="container text-center text-md-left mt-5">
			<!-- Grid row -->
			<div class="row mt-3">
				<!-- Grid column -->
				<div class="col-md-3 col-lg-2 col-xl-3 mx-auto mb-4" style="align-items: center; justify-content: center; margin-top: 50px;">
					<!-- Content -->
					<img src="{% static 'img/logo.png' %}" style="width:85%;">
				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

					<!-- Links -->
					<h6 class="text-uppercase font-weight-bold" style="color: white;">ABOUT US</h6>
					<hr class=" mb-4 mt-0 d-inline-block mx-auto">
					<p style="color: white; font-size: 14px;">Donavid adalah organisasi non-profit yang menggalang dana untuk membantu tenaga kesehatan membeli APD dan membeli bahan bantuan sosial.</p>
				</div>

				<!-- Grid column -->
				<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
					<!-- Links -->
					<h6 class="text-uppercase font-weight-bold" style="color: white;">DEVELOPER</h6>
					<hr class=" mb-4 mt-0 d-inline-block mx-auto">
					<p style="color: white; font-size: 14px;">- Andreas Ilham <br>- Amanda Carrisa <br>- Fadiya Latifah <br>- Faris Muzhaffar <br>- Bima Adinsa</p>
				</div>

				<!-- Grid column -->
				<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
					<!-- Links -->
					<h6 class="text-uppercase font-weight-bold" style="color: white;">CONTACT US</h6>
					<hr class=" mb-4 mt-0 d-inline-block mx-auto">
					<p style="color: white; font-size: 14px;">donavid@donavid.com</p>
				</div>

				

			</div>
			<!-- Grid row -->

		</div>
		<!-- Footer Links -->

		<!-- Copyright -->
		<div class="footer-copyright text-center py-3" style="background-color: #283C3B;">
			<p style="color: white;">© 2020 Copyright: Kelompok 18 PPW-E</p>
		</div>
		<!-- Copyright -->

	</footer>
	<!-- Footer -->

</body>

</html>